@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans KR", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #003366;
  --color-primary-light: #0056b3;
}

@layer base {
  body {
    @apply text-slate-900 bg-white;
  }
}
